{%include 'head.tml'%}
{%include 'navigate.tml'%}
 <div id="wrapper">
        

        
<div style="margin:100px auto; width:350px;">
  <img style="float:left;" src=""/>
  <ul style="margin-left:40px; list-style-type:none; list-style-image: none; list-style-position:outside;">
    <li style="list-style-type:none; list-style-image:none; list-style-position:outside; font-size:14px; line-height: 32px;">
  你访问的页面不存在喔~~~~~~你懂得喔~~~~~
</li>
    <li style="list-style-type:none; list-style-image:none; list-style-position:outside; color:#666;">&nbsp;</li>
    <li style="list-style-type:none; list-style-image:none; list-style-position:outside; color:#666;"> 
  请<a href="/account/login">登录</a>后重试。
 </li>
  </ul>
</div>
{%include 'foot.tml'%}